<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title><%=title%></title>

    <link rel="stylesheet" href="./views/css/main.css" />

    <style>
        #localVideo,#localScreen {
            max-width: 20%;
            width: 100px;
        }
        #remoteVideo{
            max-width: 100%;
            width: 800px;
        }
        html, body {
            height: 100%;
            margin: 0px;
        }
    </style>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="w3-display-container w3-text-white w3-black" id="overlayOptionLayerBackground" style="position: absolute; z-index: 1; height:100%;width:100%;">
    <center><div id="messageBeforeConnecting" class="w3-cell w3-cell-middle" style="width:100%;height:400px;"><h4>Press <div class="w3-text-green">Call</div> button to start this meeting...</h4></div>
        <video class="w3-round-large w3-black w3-display-container" id="remoteVideo" autoplay style="display: none;"></video></center>
</div>

<div class="w3-display-container w3-text-white" id="overlayOptionLayerForeground" style="position: relative; z-index: 2;height:100%;width:100%;">
    <div class="w3-display-topleft w3-xxlarge w3-text-white">
        <b>CalGo</b>
    </div>

    <div class="w3-display-middle" id="shareLinkLabel" style="display:none;"><div id="uniqueHrefToMeet" class="w3-container w3-text-blue"></div><br></div>

    <div class="w3-display-bottomright">
        <center><video class="w3-round-large w3-right" id="localVideo" autoplay playsinline muted="muted" style="width: 100%;height: 100%;"></video>
            <video class="w3-round-large w3-right" id="localScreen" autoplay playsinline muted="muted" style="width: 100%;height: 100%;"></video></center>
    </div>



    <div class="w3-display-bottommiddle">
        <center>
            <br>
            <div class="w3-cell-row">
                <div class="w3-cell"><button id="callButton" class="w3-transparent w3-border-0" onclick="createRoom()" style="display: none"><img src="https://i1.wp.com/www.noahprice.co.uk/wp-content/uploads/2017/10/Call-Button.fw_.png?fit=225%2C225&ssl=1" style="width: 50px;height: 50px;"></button></div>
            <div class="w3-cell"><button id="vidEnableButton" class="w3-transparent w3-border-0" style="display: none;" onclick="videoEnabledByUser()"><img src="images/vidDisable.png" style="width: 50px;height: 50px;"></button></div>
                <div class="w3-cell"> <button id="vidDisableButton" class="w3-transparent w3-border-0" style="display: none;" onclick="videoDisabledByUser()"><img src="images/vidEnable.png" style="width: 50px;height: 50px;"></button></div>
            <div class="w3-cell"><button id="micEnableButton" class="w3-transparent w3-border-0" style="display: none;" onclick="audioEnabledByUser()"><img src="images/micDisable.png" style="width: 50px;height: 50px;"></button></div>
            <div class="w3-cell"> <button id="micDisableButton" class="w3-transparent w3-border-0" style="display: none;" onclick="audioDisabledByUser()"><img src="images/micEnable.png" style="width: 50px;height: 50px;"></button></div>
                <div class="w3-cell"><button id="screenSharingButton" class="w3-transparent w3-border-0" style="display: none" onclick="screenShare()"><img src="images/screenShareing.png" style="width: 50px;height: 50px;"></button></div>
                <div class="w3-cell"><button id="ResumeVidCallButton" class="w3-transparent w3-border-0" style="display: none" onclick="videoCallResume()"><img src="images/stopScreenSharing.png" style="width: 50px;height: 50px;"></button></div>
                    <div class="w3-cell"><button id="hangupButton" class="w3-transparent w3-border-0" style="display: none" onclick="hangCall()"><img src="images/hangupBtn.png" style="width: 60px;height: 60px;"></button></div>
            </div>
        <br></center>
    </div>

</div>

<!---<script src="/socket.io/socket.io.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>--->
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-analytics.js"></script>


<script src="javascripts/one-to-one-host.js"></script>

</body>

</html>